page-login {
	 
	 div#login_form_bankid { margin-top: 5vh; text-align: center;  } 	
	 div#login_form_default { margin-top: 5vh; text-align: center;  } 	 
	 
	 .login_fields { margin: 0px;  }
	 
	 #bankid_logo img { height: 26px; width: auto;  }
	 
	 #toggle_password_login, #toggle_password_bankid { width: 100%; display: block; text-align: center;  }

	img#logo { max-width: 80vw; max-height: 15vh; margin-top: 10vh;}
  	  
}
