page-order {
	
	.food_menu_day { padding-bottom: 0px; margin-top: 15px;  }
	.text_block { padding-bottom: 0px;  } 
	
	.item-inner { overflow: auto; font-size: 11pt;   } 
	.input-wrapper { text-overflow: inherit;  }
	ion-label { white-space: normal; overflow: auto; text-transform: none;    }		

}
